<!DOCTYPE html>
<html>
<body>

<h2>Register the Sprinkler</h2>
<p>Add a sprinkler so that the setup gets registered. If there isn't a sprinkler
  registered here, it woun't be detected if it's down.</p>

<form action="/registersprinkler">
  <fieldset>
    <legend>Personal information:</legend>
    First name:<br>
    <input type="text" name="firstname" value="Mickey">
    <br>
    Last name:<br>
    <input type="text" name="lastname" value="Mouse">
    <br><br>
    <input type="submit" value="Submit">
  </fieldset>
</form>

</body>
</html>
